<div id="anchor-home" role="heading" class="header">
    <div class="picture-content">
        <img class="home-picture load" src="assets/img/home/pic-light.png"/>
        <div class="intro-container">
            <md-content class="intro-content">
                <h1 class="intro-title">{{ 'header_title' | translate }}<br/><b>
                    {{ 'header_job' | translate }}</b> {{ 'header_job2' | translate }}</h1>
                <div class="intro-separator"></div>
                <h2 hide-xs class="subtitle intro-subtitle">
                    {{ 'header_subtitle' | translate }}
                </h2>
                <h3 hide-gt-xs class="subtitle little">
                    {{ 'header_subtitle_short' | translate }}
                </h3>
            </md-content>
        </div>
    </div>
</div>