<div class="picture"></div>
<div layout="column" layout-align="start center" class="description-container">
    <h3 class="title">
        {{ 'profile_picture_title' | translate }}<br>
        <b><span class="subtitle">{{ 'profile_picture_subtitle' | translate }}</span></b><br>
        <span class="job">{{ 'profile_picture_job' | translate }}</span>
    </h3>
    <p class="subtitle">{{ 'profile_picture_description' | translate }}</p>
</div>
<div layout="row" class="links-container">
    <div class="link">
        <img class="linkedin-picture"/>
    </div>
    <div class="link ">
        <img class="github-picture"/>
    </div>
</div>
