<div class="picture"></div>
<div layout="column" layout-align="start center" class="description-container">
    <h3 class="title">
        <span class="title" translate="profile_picture_title"></span><br>
        <span class="subtitle" translate="profile_picture_subtitle"></span><br>
        <span class="job" translate="profile_picture_job"></span>
    </h3>
    <p class="subtitle" translate="profile_picture_description"></p>
</div>
<div layout="row" class="links-container">
    <a class="linkedin link " target="_blank"
       href="https://www.linkedin.com/in/nicolas-letoublon-7476a759?trk=hp-identity-photo">
    </a>
    <a class="github link" target="_blank" href="https://github.com/Warzou">
    </a>
</div>
