<md-toolbar role="navigation" class="navigation-toolbar md-whiteframe-z1" id="toolbar-nav">
    <div class="toolbar-container">
        <div class="brand-container toolbar-tools md-toolbar-tools">
            <h2 class="brand-name">
                <span hide-xs>NICOLAS <b>LETOUBLON</b></span>
                <span hide-gt-xs>N. <b>LETOUBLON</b></span>
                <!--<span hide-gt-xs>N<b>L</b></span>-->
            </h2>
        </div>
        <div hide-gt-xs class="toolbar-tools md-toolbar-tools toolbar-actions">
            <md-button ng-click="navigation.toggleMenu('menu-side')" class="md-icon-button" aria-label="Menu">
                <i class="material-icons">apps</i>
            </md-button>
        </div>
        <div hide-xs class="toolbar-tools md-toolbar-tools toolbar-actions plain-title">
            <md-button du-smooth-scroll="{{section.anchor}}" du-smooth-scroll ng-class="{'active' : section.active}" hide-xs hide-sm ng-bind="section.name | uppercase"
                       ng-repeat="section in navigation.sections track by $index" class="nav-button"
                       ng-click="navigation.activate(section)">
            </md-button>
            <md-button du-smooth-scroll="{{section.anchor}}" du-smooth-scroll ng-class="{'active' : section.active}" title="{{section.name}}" layout-align="center center" layout="column"
                       hide-gt-sm ng-repeat="section in navigation.sections track by $index"
                       ng-click="navigation.activate(section)"
                       class="nav-button nav-icons">
                <i class="material-icons">{{section.icon}}</i>
            </md-button>
        </div>
    </div>
</md-toolbar>

<md-sidenav hide-gt-sm class="md-sidenav-left md-whiteframe-z2 menu-side-panel" md-component-id="menu-side">
    <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">Navigation</h1>
    </md-toolbar>
    <md-list ng-cloak class="list-story-container">
        <md-list-item class="list-item" ng-class="{'active' : section.active}"
                      ng-repeat="section in navigation.sections"
                      du-smooth-scroll="{{section.anchor}}"
                      ng-click="navigation.goToAnchorMobile(section, 'menu-side')">
            <i class="icon material-icons">{{section.icon}}</i>
            <p class="title" ng-bind="section.name | uppercase"></p>
        </md-list-item>
    </md-list>
</md-sidenav>