



.profile-content-body {
}


.skills-content {
    background-color: #262729;
    color: white;
    align-items: center;
}

.story-content {
    background-color: white;
}

.about-content {
    background-color: #262729;
}