<div layout="column" class="content-container" data-component="skills-component">
    <div class="title-box">
        <div class="icon-container">
            <i class="icon material-icons">palette</i>
        </div>
        <h2 class="title" translate="skills_box_title" translate-compile></h2>
        <h4 class="subtitle" translate="skills_box_subtitle" translate-compile></h4>
    </div>
    <div layout-margin layout-gt-sm="row" class="content-body">
        <div flex layout="column" layout-align="space-around" class="knowledge-container">
            <h2 ng-bind="'skills_knowledge_title' | translate"></h2>
            <p translate="skills_knowledge_text" translate-compile></p>
            <div layout="row" layout-align="space-around" class="domains-container">
                <md-list layout-align="space-around start" layout="column" class="list-domains">
                    <md-list-item class="md-2-line" ng-repeat="skill in skillsCtrl.skills.knowledge.first">
                        <md-icon>check</md-icon>
                        <div>
                            <p translate="{{skill.name}}"></p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-list layout-align="space-around start" layout="column" class="list-domains">
                    <md-list-item class="md-2-line" ng-repeat="skill in skillsCtrl.skills.knowledge.second">
                        <md-icon>check</md-icon>
                        <div>
                            <p translate="{{skill.name}}"></p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div flex="3"></div>
        <div flex layout-align="space-around" class="expertise-container">
            <h2>{{ 'skills_expertise_title' | translate}}</h2>
            <div flex layout="column" layout-align="space-around" class="frameworks-container">
                <div class="framework-container" ng-repeat="skill in skillsCtrl.skills.expertise.frameworks">
                    <p class="framework-label" translate="{{skill.name}}">Angular JS 1.x</p>
                    <md-progress-linear md-mode="determinate" value="{{skill.value}}"></md-progress-linear>
                </div>
            </div>
            <div flex class="separator"></div>
            <div flex layout="row" layout-align="space-between" layout-align-gt-xs="space-around"
                 class="skills-container">

                <div flex layout="row" layout-align="space-around center" class="skill-container">
                    <div layout="column" class="skill" ng-repeat="skill in skillsCtrl.skills.expertise.technos">
                        <md-progress-circular md-diameter="70" class="skill-first-bar" md-mode="determinate"
                                              value="{{skill.value}}"></md-progress-circular>
                        <md-progress-circular md-diameter="70" class="skill-second-bar" md-mode="determinate"
                                              value="100"></md-progress-circular>
                        <p class="skill-number-label">{{skill.value}}%</p>
                        <p>{{skill.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>