<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nicolas App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

    <link rel="stylesheet" href="assets/styles/app.css"/>
    <link rel="stylesheet" href="assets/styles/theming.css"/>


    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="Application" ng-controller="ApplicationController" layout="column" ng-cloak>
<div id="anchor-home" role="heading" class="header">
    <div class="picture-content">
        <img class="home-picture load" src="assets/img/home-picture-color.png">
    </div>
    <div class="intro-container">
        <md-content class="intro-content">
            <h1 class="intro-title">HI! I AM NICOLAS,<br/><b>WEB</b> DEVELOPER</h1>
            <div class="intro-separator"></div>
            <h3 class="intro-subtitle">
                sdjfh skufadhlsfisfhsaidhfdi aiu hauisdf usluf haisulf iluf
                dfjdgjsdfig jgiods dudhd sfadhsuifhsdui fsufufhadlsu
            </h3>
        </md-content>
    </div>
</div>

<div role="main" class="main-content">

    <md-toolbar ng-controller="ToolBarController" class="navigation-toolbar md-whiteframe-z1" id="toolbar-nav">
        <div class="toolbar-container">
            <div id="anchor-profile" class="brand-container toolbar-tools md-toolbar-tools">
                <h2 class="brand-name">
                    <span>NICOLAS <b>LETOUBLON</b></span>
                </h2>
            </div>
            <span flex></span>
            <div hide-gt-xs class="toolbar-tools md-toolbar-tools toolbar-actions">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()"
                           ng-hide="isOpenRight()">
                    <i class="material-icons">menu</i>
                </md-button>
            </div>
            <div hide-xs class="toolbar-tools md-toolbar-tools toolbar-actions">
                <md-button ng-bind="section | uppercase" ng-repeat="section in sections track by $index" class="nav-button"
                           ng-click="goToAnchor(section)" aria-label="{{section}}">
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <div class="content-part profile-content">

    </div>

    <div id="anchor-skills" class="content-part skills-content">

    </div>
    <div id="anchor-story" class="content-part story-content">

    </div>
    <div id="anchor-about" class="content-part about-content">
    </div>
</div>

<md-sidenav hide-gt-xs class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content ng-controller="ToolBarController" layout-padding>
        <md-list>
            <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>
            <md-list-item ng-click="goToAnchor('home'); close();" aria-label="Home">
                HOME
            </md-list-item>
            <md-list-item ng-click="goToAnchor('skills'); close();" aria-label="Skills">
                SKILLS
            </md-list-item>
            <md-list-item ng-click="goToAnchor('story'); close();" aria-label="Story">
                STORY
            </md-list-item>
            <md-list-item ng-click="goToAnchor('about')" aria-label="About">
                ABOUT
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>


<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>


<script src="app.js"></script>

</body>
</html>
