<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nicolas App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

    <link rel="stylesheet" href="assets/styles/css/theming.css"/>
    <link rel="stylesheet" href="assets/styles/css/header.css"/>
    <link rel="stylesheet" href="assets/styles/css/navigation.css"/>
    <link rel="stylesheet" href="assets/styles/css/main-content.css"/>
    <link rel="stylesheet" href="assets/styles/css/profile.css"/>
    <link rel="stylesheet" href="assets/styles/css/story.css"/>
    <link rel="stylesheet" href="assets/styles/css/contact.css"/>
    <link rel="stylesheet" href="assets/styles/css/skills.css"/>
    <link rel="stylesheet" href="assets/styles/css/footer.css"/>
    <link rel="stylesheet" href="assets/styles/css/frameworks.css"/>
    <link rel="stylesheet" href="assets/styles/css/interest.css"/>
    <link rel="stylesheet" href="assets/styles/css/projects.css"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak] {
            display: none !important;
        }
    </style>

</head>

<body data-ng-strict-di ng-app="Application" ng-controller="ApplicationController" layout="column" ng-cloak layout-align="start stretch">
    <header-directive ng-if="false "></header-directive>
    <navigation-directive></navigation-directive>
    <div class="locale-container" layout-margin layout="row" layout-align="end">
        <md-button class="canada md-icon-button md-primary" aria-label="Change language to English" ng-click="changeLanguage('en_EN')">
        </md-button>
        <md-button class="france md-icon-button md-primary" aria-label="Change language to French" ng-click="changeLanguage('fr_FR')" >
        </md-button>
    </div>
    <div role="main" class="main-content" >
        <profile-directive id="anchor-profile" ng-if="true" layout="column" layout-align="start center" ></profile-directive>
        <div ng-if="true" class="section-separator"></div>
        <story-directive id="anchor-stories" ng-if="true" layout="column" layout-align="start center" ></story-directive>
        <interest-directive ng-if="true" layout="column" layout-align="start center"></interest-directive>
        <projects-directive id="anchor-projects" ng-if="true" layout="column" layout-align="start center"></projects-directive>
        <div ng-if="true" class="section-separator"></div>
        <skills-directive id="anchor-skills" ng-if="true" layout="column" layout-align="start center"></skills-directive>
        <frameworks-directive ng-if="true" layout="column" layout-align="start center"></frameworks-directive>
        <contact-directive id="anchor-contact" ng-if="true" layout="column" layout-align="start center"></contact-directive>

    </div>
    <footer-directive  ng-if="true"></footer-directive>





    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!--MAPS-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="../node_modules/ngmap/build/scripts/ng-map.min.js"></script>

    <!--TRANSLATE-->
    <script type="text/javascript" src="../node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/PascalPrecht/bower-angular-translate-loader-static-files/master/angular-translate-loader-static-files.js"></script>

    <!--SCROLL-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="components/header/header-directive.js"></script>
    <script type="text/javascript" src="components/navigation/navigation-directive.js"></script>
    <script type="text/javascript" src="components/profile/profile-directive.js"></script>
    <script type="text/javascript" src="components/story/story-directive.js"></script>
    <script type="text/javascript" src="components/contact/contact-directive.js"></script>
    <script type="text/javascript" src="components/skills/skills-directive.js"></script>
    <script type="text/javascript" src="components/footer/footer-directive.js"></script>
    <script type="text/javascript" src="components/frameworks/frameworks-directive.js"></script>
    <script type="text/javascript" src="components/interest/interest-directive.js"></script>
    <script type="text/javascript" src="components/projects/projects-directive.js"></script>
</body>
</html>
