.footer-part {
  min-height: 175px;
  background-color: #262729;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .message {
    margin-top: 40px;
    color: white;
    font-variant: small-caps;
  }
  .copyright-container {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    .separator {
      height: 1px;
      background-color: white;
      width: 50%;
    }
    .copyright {
      font-size: 14px;
      color: white;
    }
  }
}