html,
body {
  margin: 0;
  height: auto;
  color: #262729;
  background-color: white;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;

  .locale-container {
	width: 100%;
	margin-right: 31px;
	max-width: 1024px;
	align-self: center;
	.md-icon-button {
	  &.canada {
		background: url('../../img/countries/Canada-bw.png') no-repeat center;
		background-size: contain;
		&:hover {
		  background: url('../../img/countries/Canada.png') no-repeat center;
		  background-size: contain;
		}
	  }
	  &.france {

		margin-left: 10px;
		background: url('../../img/countries/France-bw.png') no-repeat center;
		background-size: contain;
		&:hover {
		  background: url('../../img/countries/France.png') no-repeat center;
		  background-size: contain;
		}
	  }
	  margin: 0;
	  height: 0;
	  min-width: 0;
	  padding: 0;
	  width: 35px;
	  border-radius: 0;
	}
  }

  .main-content {
	.section-separator {
	  min-height: 400px;
	  background-color: #262729;
	}
	.content-container {
	  max-width: 1024px;
	  width: 100%;
	  .title-box {
		border: 1px solid #E2E2E2;
		padding: 25px 15px 20px 15px;
		position: relative;
		align-self: center;
		.icon-container {
		  position: absolute;
		  border: 1px solid #262729;
		  background-color: #262729;
		  width: 30px;
		  height: 30px;
		  transform: rotate(45deg);
		  top: -17px;
		  .icon {
			color: white;
			position: absolute;
			transform: rotate(-45deg);
		  }
		}
		.title {
		  margin: 0;
		  font-size: 35px;
		}
		.subtitle {
		  background-color: white;
		  position: absolute;
		  margin: 0;
		  font-variant: small-caps;
		  font-weight: normal;
		  top: 76px;
		  padding: 0 10px;
		}
	  }
	  .content-body {
	  }
	}
	contact-directive {
	  background: url('../../img/mappemonde.png') no-repeat center;
	  background-size: 130%;
	}

	interest-directive {
	  background: url('../../img/montreal-bw.JPG') no-repeat center;
	  background-size: cover;
	  height: 500px;
	}

	frameworks-directive, interest-directive {
	  background-color: #262729;
	}
  }
}



@media (max-width: 600px) {
  interest-directive {
	background-position-x: -150px !important;
	height: 300px;
  }
}

@media (max-width: 480px){
  interest-directive {
	background-position-x: -356px !important;
	height: 300px;
  }
}