[data-component='skills-component'] {
  .title-box {
	.icon-container {
	  left: 87px;
	  .icon {
		top: 1px;
		left: 1px;
	  }
	}
	.subtitle {
	  left: 21px;
	}
  }
  .content-body {
	margin-top: 30px;
	.knowledge-container {
	  border: 1px solid green;
	  md-icon {
		margin-right: 5px;
	  }
	}
	.expertise-container {
	  border: 1px solid pink;
	  .skill-container {
		position: relative;
		text-align: center;
		.skill-second-bar {
		  opacity: .2;
		  top: 8px;
		  position: absolute;
		}
		.skill-number-label {
		  top: 15px;
		  left: 30px;
		  position: absolute;
		}
	  }
	  .framework-label {
		margin: 20px 0 2px 0;
	  }
	}
  }
}
