[data-component='skills-component'] {
  &.content-part {
    margin: 0 0 40px 0;
    min-height: 300px;
  }
  .title-box {
    .icon-container {
      margin: -37px 0 0 72px;
      .icon {
        color: white;
        position: absolute;
        top: 1px;
        left: 1px;
        transform: rotate(-45deg);
      }
    }
    .subtitle {
      margin: 8px 0 0 7px;
    }
  }
  .content-body {
    margin-top: 50px;
    .knowledge-container {
      border: 1px solid black;
    }
    .expertise-container {
      border: 1px solid black;
      .skill-container {

      }
    }
  }
}
