[data-component='story-component'] {
  &.content-part {
    margin: 0 0 70px 0;
    min-height: 300px;
  }
  .title-box {
      .icon-container {
        margin: -37px 0 0 88px;
        .icon {
          color: white;
          position: absolute;
          top: 3px;
          left: 3px;
          transform: rotate(-45deg);
        }
      }
      .subtitle {
        margin: 8px 0 0 21px;
      }
  }
    .content-body {
      margin: 70px 0 30px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      .story-container {
        display: flex;
        height: 95px;
        position: relative;
        align-self: center;
        .short-description-container {
          position: absolute;
          width: 380px;
          top: 4px;
          &.left {
            left: -438px;
            text-align: right;
          }
          &.right {
            left: 130px;
            text-align: left;
          }
          .type {
            margin: 0;
            font-variant: small-caps;
          }
          .title {
            margin: 0;
          }
          .subtitle{
            margin: 0;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            &.location {
              line-height: 10px;
            }
          }
          .description {
            margin: 0;
            padding-top: 5px;
            font-size: 12px;
            line-height: 20px;
          }
          .read-more {
            margin: 5px 0 0 0;
            border-radius: 0;
            padding: 0;
            font-size: 12px;
            line-height: 25px;
            min-height: 25px;
            color: #262729;
            border: 1px solid #262729;
            background-color: white;
            text-transform: none;
            font-weight: normal;
          }
         }
        .year-container {
          border: 1px solid #E2E2E2;
          transform: rotate(45deg);
          background-color: white;
          width: 70px;
          height: 70px;
          cursor: pointer;
          outline: none;
          transition: height 0.3s linear, width 0.3s linear;
          .year {
            transform: rotate(-45deg);
            margin: 0;
            position: absolute;
            left: 14px;
            top: 24px;
          }
          &.active, &:hover {
            cursor: pointer;
            background: #262729;
            color: white;
            font-size: 20px;
            width: 85px;
            height: 85px;
            z-index: 1;
            margin-top: -8px;
            .year {
              left: 17px;
              top: 29px;
            }
          }
          &:hover {
            z-index: 2;
          }
        }
      }
    }
}


