<section data-component="skills-component" id="anchor-skills" class="content-part">
    <div class="content-container">
        <div class="title-box">
            <div class="icon-container">
                <i class="icon material-icons">person_outline</i>
            </div>
            <h2 class="title">{{'skills' | uppercase}}</h2>
            <h4 class="subtitle">about myself</h4>
        </div>
        <div class="content-body">
            <div flex class="content-text">
                <div class="text-container">
                    <h2 class="first-title">Portrait</h2>
                    <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                    <h2 class="second-title">Objectifs</h2>
                    <p class="second-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <md-button class="md-raised dl-cv">
                    <i class="material-icons icon ">cloud_download</i> Download my CV
                </md-button>
            </div>

            <div flex class="photo-container">
                <h2 class="title">
                    Hi, I'm</br>
                    <b>Nicolas Letoublon,</b></br>
                    <span class="job">web developer</span>
                </h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.</p>
                <div class="links-container">
                    <div class="link">
                        <img class="linkedin-picture"/>
                    </div>
                    <div class="link ">
                        <img class="github-picture"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>