<section id="anchor-profile" class="content-part profile-content">
    <div class="profile-content-body">
        <div class="content-title-box">
            <div class="content-title-icon-container">
                <i class="content-title-icon material-icons">person_outline</i>
            </div>
            <h2 class="content-title">{{'profile' | uppercase}}</h2>
            <h3 class="content-title-subtitle">about myself</h3>
        </div>
        <div class="content-body">

        </div>
    </div>
</section>