<div layout="column"
     class="content-container"
     data-component="profile-component"
     >
    <div class="title-box">
        <div class="icon-container">
            <i class="icon material-icons">person_outline</i>
        </div>
        <h2 class="title">{{'profile' | uppercase}}</h2>
        <h4 class="subtitle">about myself</h4>
    </div>
    <div layout="row" layout-margin class="content-body">
        <div flex layout="column" layout-align="space-between start" class="text-container">
            <div flex layout="column" layout-align="space-between">
                <div >
                    <h2 class="first-title">About me</h2>
                    <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                    </p>
                </div>
                <div>
                    <h2 class="second-title">Objectives</h2>
                    <p class="second-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                    </p>
                </div>
            </div>
            <md-button class="custom-button md-primary md-raised download-cv-btn">
                <i class="material-icons">cloud_download</i>Download my CV
            </md-button>
        </div>
        <div hide-xs hide-sm flex="5"></div>
        <div hide-xs hide-sm flex="35" layout="column" layout-align="space-around center" class="picture-container">
            <div class="picture">
                <img src="assets/img/home/profile-picture.png" />
            </div>
            <div layout="column" layout-align="start center" class="description-container">
                <h3 class="title">
                    Hi, I'm</br>
                    <b>Nicolas Letoublon,</b></br>
                    <span class="job">web developer</span>
                </h3>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.</p>
            </div>
            <div layout="row" class="links-container">
                <div class="link">
                    <img class="linkedin-picture" />
                </div>
                <div class="link ">
                    <img class="github-picture" />
                </div>
            </div>
        </div>
        <div hide-gt-sm flex="0" class="sticked-container">
            <md-button class="md-raised custom-button sticked-button " ng-click="profile.togglePicture('picture-side')">
                <i class="material-icons">keyboard_arrow_left</i>
            </md-button>
        </div>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 " md-component-id="picture-side">
        <!--<md-button class="md-raised custom-button sticked-button " ng-click="profile.closeSide('picture-side')">
            <i class="material-icons">keyboard_arrow_right</i>
        </md-button>-->
        <div layout-margin layout-align="space-around center" layout="column" class="picture-container-side">
            <div class="picture">
                <img src="assets/img/home/profile-picture.png" />
            </div>
            <div layout="column" layout-align="start center" class="description-container">
                <h3 class="title">
                    Hi, I'm</br>
                    <b>Nicolas Letoublon,</b></br>
                    <span class="job">web developer</span>
                </h3>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.</p>
            </div>
            <div layout="row" class="links-container">
                <div class="link">
                    <img class="linkedin-picture" />
                </div>
                <div class="link ">
                    <img class="github-picture" />
                </div>
            </div>
        </div>
    </md-sidenav>
</div>
