<section id="anchor-profile" class="content-part profile-content">
    <div class="content-container profile-content-body">
        <div class="title-box">
            <div class="icon-container">
                <i class="icon material-icons">person_outline</i>
            </div>
            <h2 class="title">{{'profile' | uppercase}}</h2>
            <h3 class="subtitle">about myself</h3>
        </div>
        <div class="content-body">
            <div flex class="profile-content-text">
                <h2 class="first-title">Titre numero 1</h2>
                <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2 class="second-title">Titre numero 1</h2>
                <p class="second-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <md-button class="md-raised dl-cv">
                    Download my CV <i class="material-icons icon ">file_download</i>
                </md-button></md-button>
            </div>

            <div flex class="profile-photo-container">
                <div class="picture"></div>
                <h4 class="title">
                    Hi, I'm</br>
                    <b>Nicolas Letoublon,</b></br>
                    <span class="job">web developer</span>
                </h4>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.</p>
                <div class="links-container">
                    <div class="link linked-id">
                        <img class="home-picture load" src="assets/imgs/linkedin.png" />
                    </div>
                    <div class="link git-hub">
                        <img class="home-picture load" src="assets/imgs/linkedin.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>