.footer-part {
  min-height: 200px;
  background-color: #262729;
  .copyright-container {
    opacity: 0.8;
    .separator {
      height: 1px;
      background-color: white;
      width: 120%;
    }
    .copyright {
      text-align: center;
      font-size: 14px;
      color: white;
    }
  }
}