[data-component='frameworks-component'] {
  &.content-container {
	position: relative;
  }
  .square {
	background-color: white;
	position: absolute;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	top: -15px;
	left: 48.5%;
  }
  .content-body {
	margin: 70px 30px 50px 30px;
	.logos {
	  height: 100%;
	}
	.tile {
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center;
	  .link {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	  }
	}
  }
}


