#toolbar-nav {
  background-color: white;
  color: #262729;
  display: flex;
  justify-content: center;
}

#return-to-top-btn {
  position: fixed;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding-top: 9px;
  min-width: 70px;
  min-height: 70px;
  display: none;
  &.show {
    display: block;
  }
  i {
    font-size: 40px;
  }
}

.navigation-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .toolbar-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    .brand-container {
      background-color: #262729;
      max-width: 235px;
      min-width: 171px;
      .brand-name {
        color: white;
      }
    }
    .toolbar-tools {
      flex: 1;
    }
    .toolbar-actions {
      justify-content: flex-end;
      &.plain-title {
        padding-right: 0;
      }
      .nav-button {
        height: 100%;
        padding: 0 10px;
        margin: 0;
        border-radius: 0;
        &:hover, &.active {
          border-bottom: 3px solid #262729;
          background-color: rgba(158,158,158,0.2);
        }
      }
      .nav-icons {
        min-width: 55px;
        display: flex;
        i {
          margin: auto;
        }
      }
    }
  }
}
.menu-side-panel {
  .list-item {
    &:hover, &.active {
      border-left: 3px solid #262729;
      button {
        background-color: rgba(158,158,158,0.2);
      }
    }
    .icon {
      padding: 0 20px 0 0;
      opacity: 0.7;
    }
  }
}




