[data-component='skills-component'] {
  margin: 50px 0 0 0;
  .title-box {
    .icon {
      top: 2px;
      left: 3px;
    }
  }
  .content-body {
    .knowledge-container {
      .domains-container {
        text-align: left;
      }
      md-icon {
        margin-right: 5px;
        min-width: 30px;
      }
    }
    .expertise-container {
      md-progress-circular, md-progress-linear {
        opacity: 0.6;
      }
      .framework-container {
        min-height: 60px;
        .framework-label {
          margin: 0 0 2px 0;
        }
      }
      .skill-container {
        padding-top: 20px;
        .skill {
          position: relative;
          text-align: center;
          .skill-second-bar {
            opacity: .1;
            top: 0;
            position: absolute;
          }
          .skill-number-label {
            top: 7px;
            left: 23px;
            position: absolute;
          }
        }
      }
    }
  }
}