<div layout="column" class="content-container" data-component="projects-component">
    <div class="title-box">
        <div class="icon-container">
            <i class="icon material-icons">format_paint</i>
        </div>
        <h2 class="title">{{'projects_box_title' | translate | uppercase}}</h2>
        <h4 class="subtitle">{{'projects_box_subtitle' | translate }}</h4>
    </div>
    <div layout-margin layout="column" class="content-body">
        <div layout-margin layout="column" layout-gt-sm="row">
            <div flex="60" layout="column" class="description-container">
                <div>
                    <h2 class="no-margin" translate="{{projectController.project.name}}"></h2>
                    <h4 class="no-margin light subtitle" translate="{{projectController.project.subtitle}}"></h4>
                    <p translate="{{projectController.project.description}}"></p>
                </div>
                <div>
                    <h3 class="no-margin" translate="{{projectController.project.subtitle2}}"></h3>
                    <p translate="{{projectController.project.description2}}"></p>
                    <ul class="list-missions">
                        <li ng-repeat="mission in projectController.project.missions track by $index"
                            translate="{{mission}}" ng-if="mission.length"></li>
                    </ul>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="35" hide-sm hide-xs layout-gt-sm="column" layout-sm="row" layout-align="space-between"
                 layout-align-gt-sm="space-around" class="images-container">
                <div flex class="angular-google-map-container ">
                    <ng-map class="map md-whiteframe-z2" center="{{projectController.project.center}}"
                            zoom="{{projectController.project.zoom}}">
                        <marker position="{{projectController.project.marker}}"></marker>
                    </ng-map>
                </div>

                <div flex layout-align="start center" class="skills-container">
                    <h3>{{'projects_technical_subtitle' | translate}}</h3>
                    <md-grid-list
                            md-cols="5"
                            md-row-height="1:2"
                            md-gutter="10px">
                        <md-grid-tile class="tile" ng-class="techno.image"
                                      ng-repeat="techno in projectController.project.technos track by $index"
                                      md-rowspan="{{techno.row}}" md-colspan="{{techno.col}}">
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <md-button aria-label="Show the previous project" ng-click="projectController.previousProject()"
                       class="md-raised md-primary custom-button change-project-button left">
                <i class="material-icons icon">chevron_left</i>{{'projects_button_previous' | translate}}
            </md-button>
            <md-button aria-label="Show the next project" ng-click="projectController.nextProject()"
                       class="md-raised md-primary custom-button change-project-button right">
                {{'projects_button_next' | translate}} <i class="material-icons icon">chevron_right</i>
            </md-button>
        </div>
    </div>
</div>