<div layout="column" class="content-container" data-component="interest-component">
    <div class="square">
    </div>
    <div flex layout-margin layout="column" layout-align="center stretch" class="content-body">
        <div flex layout="row" class="top-container">
            <div flex class="interest-container books"></div>
            <div flex class="interest-container plane"></div>
            <div flex class="interest-container computer"></div>
            <div flex class="interest-container sport"></div>
        </div>
        <div layout="row" layout-align="center stretch" class="middle-container">

            <div flex class="interest-container plane"></div>
            <div flex class="interest-container computer"></div>
            <div flex class="interest-container books"></div>
            <div flex class="interest-container sport"></div>
        </div>
        <div flex layout="row" class="bottom-container">
            <div flex class="interest-container books"></div>
            <div flex class="interest-container plane"></div>
            <div flex class="interest-container computer"></div>
            <div flex class="interest-container sport"></div>
        </div>
    </div>
</div>