.footer-part {
  min-height: 200px;
  background-color: #262729;
}
.footer-part .copyright-container {
  opacity: 0.8;
}
.footer-part .copyright-container .separator {
  height: 1px;
  background-color: white;
  width: 120%;
}
.footer-part .copyright-container .copyright {
  text-align: center;
  font-size: 14px;
  color: white;
}
