[data-component='interest-component'] {
  color: white;
}
[data-component='interest-component'].content-container {
  max-width: none !important;
  position: relative;
}
[data-component='interest-component'] .content-body {
  margin-top: 30px;
}
