[data-component='profile-component'] {
  margin: 70px 0 0 0;
}
[data-component='profile-component'] .title-box .icon {
  top: 2px;
  left: 1px;
}
[data-component='profile-component'] .content-body .text-container .download-cv-btn {
  margin-top: 50px;
}
[data-component='profile-component'] .content-body .sticked-container {
  margin: 0;
  position: relative;
}
[data-component='profile-component'] .content-body .sticked-container .sticked-button {
  position: absolute;
  right: -8px;
  top: 44%;
}
[data-component='profile-component'] .picture-container {
  border: 1px solid #E2E2E2;
}
[data-component='profile-component'] .picture-container,
[data-component='profile-component'] .picture-container-side {
  padding: 80px 0 60px 0;
  position: relative;
  text-align: center;
}
[data-component='profile-component'] .picture-container .picture,
[data-component='profile-component'] .picture-container-side .picture {
  background: url('../../img/home/profile-picture.jpg') no-repeat;
  background-size: 200px;
  border: 1px solid #E2E2E2;
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
}
[data-component='profile-component'] .picture-container .description-container .title,
[data-component='profile-component'] .picture-container-side .description-container .title {
  margin: 0;
  padding-top: 60px;
  font-weight: normal;
}
[data-component='profile-component'] .picture-container .description-container .title .job,
[data-component='profile-component'] .picture-container-side .description-container .title .job {
  font-variant: small-caps;
  font-weight: 600;
}
[data-component='profile-component'] .picture-container .description-container .subtitle,
[data-component='profile-component'] .picture-container-side .description-container .subtitle {
  padding: 0 30px;
}
[data-component='profile-component'] .picture-container .links-container,
[data-component='profile-component'] .picture-container-side .links-container {
  padding-top: 15px;
}
[data-component='profile-component'] .picture-container .links-container .link,
[data-component='profile-component'] .picture-container-side .links-container .link {
  cursor: pointer;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}
@media (max-width: 600px) {
  .picture-container-side .picture {
    background-size: 150px !important;
    height: 150px !important;
    width: 150px !important;
  }
  .picture-container-side .description-container .title {
    padding-top: 30px !important;
  }
  .picture-container-side .links-container {
    padding-top: 15px !important;
  }
}
