[data-component='story-component'] {
  margin: 50px 0 80px 0;
}
[data-component='story-component'] .title-box .icon {
  top: 3px;
  left: 2px;
}
[data-component='story-component'] .content-body .story-container {
  height: 80px;
}
[data-component='story-component'] .content-body .story-container .year-container .year-square {
  border: 1px solid #E2E2E2;
  transform: rotate(45deg);
  background-color: white;
  width: 70px;
  height: 70px;
  cursor: pointer;
  outline: none;
}
[data-component='story-component'] .content-body .story-container .year-container .year-square:focus {
  background-color: #E2E2E2;
}
[data-component='story-component'] .content-body .story-container .year-container .year-square .year {
  transform: rotate(-45deg);
  margin: 0;
  position: absolute;
  left: 14px;
  top: 24px;
}
[data-component='story-component'] .content-body .story-container .year-container .year-square.active,
[data-component='story-component'] .content-body .story-container .year-container .year-square:hover {
  cursor: pointer;
  background: #262729;
  color: white;
  font-size: 20px;
  width: 85px;
  height: 85px;
  z-index: 1;
  margin-top: -8px;
}
[data-component='story-component'] .content-body .story-container .year-container .year-square.active .year,
[data-component='story-component'] .content-body .story-container .year-container .year-square:hover .year {
  left: 17px;
  top: 29px;
}
[data-component='story-component'] .content-body .list-item {
  border-top: 1px solid #E2E2E2;
}
[data-component='story-component'] .content-body .list-item:last-child {
  border-bottom: 1px solid #E2E2E2;
}
[data-component='story-component'] .content-body .list-item.active {
  background-color: rgba(0, 0, 0, 0.04);
}
[data-component='story-component'] .content-body .list-item button {
  padding: 16px;
}
[data-component='story-component'] .content-body .list-item .icon {
  padding-right: 16px;
}
[data-component='story-component'] .content-body .list-item .story-description-container {
  padding-right: 60px;
}
[data-component='story-component'] .content-body .list-item .story-description-container .title {
  line-height: 20px;
}
[data-component='story-component'] .content-body .list-item .year-button {
  margin-bottom: -16px;
  margin-right: -16px;
  height: 100%;
  color: white !important;
  background-color: #262729;
  min-width: 65px;
}
[data-component='story-component'] .content-body .list-item .year-button:hover {
  color: white !important;
  background-color: #262729 !important;
}
[data-component='story-component'] .content-body .story-description-container {
  outline: none;
}
[data-component='story-component'] .content-body .story-description-container.left {
  text-align: right;
}
[data-component='story-component'] .content-body .story-description-container .type,
[data-component='story-component'] .content-body .story-description-container .subtitle,
[data-component='story-component'] .content-body .story-description-container .title,
[data-component='story-component'] .content-body .story-description-container .description {
  margin: 0;
}
[data-component='story-component'] .content-body .story-description-container .type {
  font-variant: small-caps;
}
[data-component='story-component'] .content-body .story-description-container .subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
[data-component='story-component'] .content-body .story-description-container .subtitle.location {
  line-height: 10px;
}
[data-component='story-component'] .content-body .story-description-container .description {
  padding-top: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 70%;
}
[data-component='story-component'] .content-body .story-description-container .read-more-button {
  border: 1px solid #262729;
  padding: 0;
  margin-top: 3px;
  font-size: 12px;
  line-height: 25px;
  min-height: 25px;
}
@media (min-width: 600px) and (max-width: 840px) {
  .year-container {
    margin: 0 15px;
  }
}
